.centerParent,.childStyle{margin-top: 0 !important}
.Element{
  position: relative;
  &.flexParent .childStyle{
    flex: 1;
  }
}
.centerParent{
  width: 100%;
  left:0;
  right:0;
  display: flex;
  justify-content: center;
  .childStyle {
    position: relative;
    margin: 0 auto;
    .flexChild {flex: 1}
    .Element,p{
      position: relative !important;
      top:inherit !important;
      bottom:inherit !important;
      left:0 !important;
    }
  }
}
