@font-face {
  font-family: "harmonyicons";
  src: url("./harmonyicons-regular-webfont.eot");
  src: url("./harmonyicons-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./harmonyicons-regular-webfont.woff2") format("woff2"),
    url("./harmonyicons-regular-webfont.woff") format("woff"),
    url("./harmonyicons-regular-webfont.ttf") format("truetype"),
    url("./harmonyicons-regular-webfont.svg#harmonyicons-regular-webfontRg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

.hi {
  display: inline-block;
  font-family: "harmonyicons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hi-accountant:before {
  content: "\f000";
}

.hi-apps:before {
  content: "\f001";
}

.hi-bank:before {
  content: "\f002";
}

.hi-chat:before {
  content: "\f003";
}

.hi-customers:before {
  content: "\f004";
}

.hi-dashboard:before {
  content: "\f005";
}

.hi-employees:before {
  content: "\f006";
}

.hi-expenses:before {
  content: "\f007";
}

.hi-help:before {
  content: "\f008";
}

.hi-accountant-tool:before {
  content: "\f009";
}

.hi-inventory:before {
  content: "\f00A";
}

.hi-invoices:before {
  content: "\f00B";
}

.hi-payments:before {
  content: "\f00C";
}

.hi-checks:before {
  content: "\f00D";
}

.hi-products:before {
  content: "\f00E";
}

.hi-reports:before {
  content: "\f00F";
}

.hi-star:before {
  content: "\f010";
}

.hi-receipts:before {
  content: "\f011";
}

.hi-schedule:before {
  content: "\f012";
}

.hi-settings:before {
  content: "\f013";
}

.hi-taxes:before {
  content: "\f014";
}

.hi-transactions:before {
  content: "\f015";
}

.hi-vendors:before {
  content: "\f016";
}

.hi-marketing:before {
  content: "\f017";
}

.hi-mailbox:before {
  content: "\f018";
}

.hi-appointment:before {
  content: "\f019";
}

.hi-checkmark:before {
  content: "\f01a";
}

.hi-attach:before {
  content: "\f01b";
}

.hi-audio:before {
  content: "\f01c";
}

.hi-bookmark:before {
  content: "\f01e";
}

.hi-labs:before {
  content: "\f01d";
}

.hi-calendar:before {
  content: "\f01f";
}

.hi-camera:before {
  content: "\f020";
}

.hi-cancel:before {
  content: "\f021";
}

.hi-cash:before {
  content: "\f022";
}

.hi-add-user:before {
  content: "\f023";
}

.hi-chat-o:before {
  content: "\f024";
}

.hi-check-o:before {
  content: "\f025";
}

.hi-note:before {
  content: "\f026";
}

.hi-offline:before {
  content: "\f027";
}

.hi-phone:before {
  content: "\f028";
}

.hi-pin:before {
  content: "\f029";
}

.hi-preview:before {
  content: "\f02a";
}

.hi-print:before {
  content: "\f02b";
}

.hi-folder:before {
  content: "\f02c";
}

.hi-receipt-o:before {
  content: "\f02d";
}

.hi-history:before {
  content: "\f02e";
}

.hi-document:before {
  content: "\f02f";
}

.hi-reconcile:before {
  content: "\f030";
}

.hi-refresh:before {
  content: "\f031";
}

.hi-speech-bubble:before {
  content: "\f032";
}

.hi-copy:before {
  content: "\f033";
}

.hi-newsletter:before {
  content: "\f034";
}

.hi-tag:before {
  content: "\f035";
}

.hi-credit-card:before {
  content: "\f036";
}

.hi-headset:before {
  content: "\f037";
}

.hi-customize:before {
  content: "\f038";
}

.hi-delete:before {
  content: "\f039";
}

.hi-direct-deposit:before {
  content: "\f03a";
}

.hi-download:before {
  content: "\f03b";
}

.hi-draft:before {
  content: "\f03c";
}

.hi-duplicate:before {
  content: "\f03d";
}

.hi-edit:before {
  content: "\f03e";
}

.hi-email:before {
  content: "\f03f";
}

.hi-expert:before {
  content: "\f040";
}

.hi-save:before {
  content: "\f041";
}

.hi-search:before {
  content: "\f042";
}

.hi-send:before {
  content: "\f043";
}

.hi-settings-o:before {
  content: "\f044";
}

.hi-share:before {
  content: "\f045";
}

.hi-message:before {
  content: "\f046";
}

.hi-survey:before {
  content: "\f047";
}

.hi-thumb-up:before {
  content: "\f048";
}

.hi-thumb-down:before {
  content: "\f049";
}

.hi-lightbulb-o:before {
  content: "\f04a";
}

.hi-checklist:before {
  content: "\f04b";
}

.hi-pro-advisor:before {
  content: "\f04c";
}

.hi-upload:before {
  content: "\f04d";
}

.hi-export:before {
  content: "\f04e";
}

.hi-star-o:before {
  content: "\f04f";
}

.hi-announce:before {
  content: "\f050";
}

.hi-user:before {
  content: "\f051";
}

.hi-filter:before {
  content: "\f052";
}

.hi-flag:before {
  content: "\f053";
}

.hi-help-o:before {
  content: "\f054";
}

.hi-marketing-alt:before {
  content: "\f055";
}

.hi-image:before {
  content: "\f056";
}

.hi-import:before {
  content: "\f057";
}

.hi-list:before {
  content: "\f058";
}

.hi-lock:before {
  content: "\f059";
}

.hi-map:before {
  content: "\f05a";
}

.hi-map-pin:before {
  content: "\f05b";
}

.hi-microphone:before {
  content: "\f05c";
}

.hi-adjust:before {
  content: "\f05d";
}

.hi-unlock:before {
  content: "\f05e";
}

.hi-create:before {
  content: "\f05f";
}

.hi-create-lg:before {
  content: "\f060";
}

.hi-close:before {
  content: "\f061";
}

.hi-pop-out:before {
  content: "\f062";
}

.hi-pop-in:before {
  content: "\f063";
}

.hi-minimize:before {
  content: "\f064";
}

.hi-maximize:before {
  content: "\f065";
}

.hi-unlink:before {
  content: "\f066";
}

.hi-play:before {
  content: "\f067";
}

.hi-document-alt:before {
  content: "\f068";
}

.hi-upgrade:before {
  content: "\f069";
}

.hi-chevron-left:before {
  content: "\f06a";
}

.hi-chevron-right:before {
  content: "\f06b";
}

.hi-chevron-up:before {
  content: "\f06c";
}

.hi-chevron-down:before {
  content: "\f06d";
}

.hi-mileage:before {
  content: "\f06e";
}

.hi-new-window:before {
  content: "\f06f";
}

.hi-circle-alert:before {
  content: "\f070";
}

.hi-circle-check:before {
  content: "\f071";
}

.hi-circle-info:before {
  content: "\f072";
}

.hi-tear-alert-rt:before {
  content: "\f073";
}

.hi-tear-alert-lt:before {
  content: "\f074";
}

.hi-tear-check-lt:before {
  content: "\f075";
}

.hi-tear-check-rt:before {
  content: "\f076";
}

.hi-drag:before {
  content: "\f077";
}

.hi-arrange:before {
  content: "\f078";
}

.hi-tear-pending:before {
  content: "\f079";
}

.hi-birthday:before {
  content: "\f07a";
}

.hi-anniversary:before {
  content: "\f07b";
}

.hi-no-access:before {
  content: "\f07c";
}

.hi-swap:before {
  content: "\f07d";
}

.hi-vidresize-1:before {
  content: "\f07e";
}

.hi-vidresize-2:before {
  content: "\f07f";
}

.hi-vidplay:before {
  content: "\f080";
}

.hi-overflow:before {
  content: "\f081";
}

.hi-hamburger:before {
  content: "\f082";
}

.hi-star-half:before {
  content: "\f083";
}

.hi-star-half-full:before {
  content: "\f084";
}

.hi-global-create:before {
  content: "\f085";
}

.hi-global-create-alt:before {
  content: "\f086";
}

.hi-avatar-o:before {
  content: "\f087";
}

.hi-label-new:before {
  content: "\f088";
}

.hi-trophy:before {
  content: "\f089";
}

.hi-grid:before {
  content: "\f08a";
}

.hi-arrow-back:before {
  content: "\f201";
}
.hi-arrow-down:before {
  content: "\f202";
}
.hi-arrow-right:before {
  content: "\f203";
}
.hi-arrow-up:before {
  content: "\f204";
}
.hi-art:before {
  content: "\f205";
}
.hi-auto-fill:before {
  content: "\f206";
}
.hi-auto:before {
  content: "\f207";
}
.hi-autoadd:before {
  content: "\f208";
}
.hi-award:before {
  content: "\f209";
}
.hi-bag:before {
  content: "\f210";
}
.hi-save-1:before {
  content: "\f2100";
}
.hi-select:before {
  content: "\f2101";
}
.hi-sm-chevron-down:before {
  content: "\f2103";
}
.hi-sm-chevron-left:before {
  content: "\f2104";
}
.hi-sm-chevron-right:before {
  content: "\f2105";
}
.hi-sm-chevron-up:before {
  content: "\f2106";
}
.hi-sort-ascending:before {
  content: "\f2107";
}
.hi-sort-decending:before {
  content: "\f2108";
}
.hi-split:before {
  content: "\f2109";
}
.hi-add:before {
  content: "\f221";
}
.hi-bills:before {
  content: "\f211";
}
.hi-tax-fill:before {
  content: "\f2110";
}
.hi-test-drive:before {
  content: "\f2111";
}
.hi-text:before {
  content: "\f2112";
}
.hi-tour:before {
  content: "\f2113";
}
.hi-track-time:before {
  content: "\f2114";
}
.hi-transactions-fill:before {
  content: "\f2115";
}
.hi-truck:before {
  content: "\f2116";
}
.hi-undo:before {
  content: "\f2117";
}
.hi-up:before {
  content: "\f2118";
}
.hi-ve.hicle:before {
  content: "\f2119";
}
.hi-blueprint:before {
  content: "\F212";
}
.hi-business:before {
  content: "\F009";
}
.hi-cal-alert:before {
  content: "\F214";
}
.hi-calc:before {
  content: "\F215";
}
.hi-call:before {
  content: "\f217";
}
.hi-call-fill:before {
  content: "\f216";
}
.hi-camera-fill:before {
  content: "\f218";
}
.hi-capital-uk:before {
  content: "\f219";
}
.hi-capital:before {
  content: "\f220";
}
.hi-card:before {
  content: "\f221";
}
.hi-clean:before {
  content: "\f222";
}
.hi-web:before {
  content: "\f2220";
}
.hi-wellness:before {
  content: "\f2221";
}
.hi-radio-toggle-o:before {
  content: "\f2222";
}
.hi-batch:before {
  content: "\f2223";
}
.hi-clock:before {
  content: "\f2224";
}
.hi-create-1:before {
  content: "\f2225";
}
.hi-card:before {
  content: "\f2226";
}
.hi-template:before {
  content: "\F2227";
}
.hi-RESERVED:before {
  content: "\F2229";
}
.hi-services:before {
  content: "\f139";
}
.hi-chart:before {
  content: "\f223";
}
.hi-clear:before {
  content: "\f224";
}
.hi-clear-field:before {
  content: "\f225";
}
.hi-clear-fill:before {
  content: "\f226";
}
.hi-add-fill:before {
  content: "\f227";
}
.hi-cloud-download:before {
  content: "\f228";
}
.hi-cloud-offline:before {
  content: "\f229";
}
.hi-cloud-online:before {
  content: "\f230";
}
.hi-cloud-upload:before {
  content: "\f231";
}
.hi-cloud:before {
  content: "\f232";
}
.hi-coffee-2go:before {
  content: "\f233";
}
.hi-coffee:before {
  content: "\f234";
}
.hi-community:before {
  content: "\f235";
}
.hi-contact:before {
  content: "\f236";
}
.hi-contractors:before {
  content: "\f237";
}
.hi-crop:before {
  content: "\f238";
}
.hi-cui:before {
  content: "\f239";
}
.hi-dashboard-fill:before {
  content: "\f240";
}
.hi-desktop:before {
  content: "\f241";
}
.hi-doc-empty:before {
  content: "\f242";
}
.hi-drop-left:before {
  content: "\f243";
}
.hi-drop-right:before {
  content: "\f244";
}
.hi-dropdown:before {
  content: "\f245";
}
.hi-flyup:before {
  content: "\f246";
}
.hi-eqpt-tech:before {
  content: "\f247";
}
.hi-down:before {
  content: "\f248";
}
.hi-exclude:before {
  content: "\f249";
}
.hi-eye:before {
  content: "\f250";
}
.hi-financial:before {
  content: "\f251";
}
.hi-flash:before {
  content: "\f252";
}
.hi-folder-solid:before {
  content: "\f253";
}
.hi-fullscreen:before {
  content: "\f254";
}
.hi-gift:before {
  content: "\f255";
}
.hi-glasses:before {
  content: "\f256";
}
.hi-graph:before {
  content: "\f257";
}
.hi-group:before {
  content: "\f258";
}
.hi-hexagon:before {
  content: "\f259";
}
.hi-home-fill:before {
  content: "\f260";
}
.hi-home-outline:before {
  content: "\f261";
}
.hi-hourglass:before {
  content: "\f262";
}
.hi-idea:before {
  content: "\f263";
}
.hi-cart-add:before {
  content: "\f265";
}
.hi-inbox:before {
  content: "\f266";
}
.hi-info:before {
  content: "\f267";
}
.hi-insurance:before {
  content: "\f268";
}
.hi-inventory-checklist:before {
  content: "\f269";
}
.hi-inventory-list:before {
  content: "\f270";
}
.hi-invoices-fill:before {
  content: "\f271";
}
.hi-keyboard:before {
  content: "\f272";
}
.hi-laptop:before {
  content: "\f273";
}
.hi-left:before {
  content: "\f274";
}
.hi-link:before {
  content: "\f275";
}
.hi-loading:before {
  content: "\f276";
}
.hi-location-fill:before {
  content: "\f277";
}
.hi-location:before {
  content: "\f278";
}
.hi-magic:before {
  content: "\f279";
}
.hi-meals-entertainment:before {
  content: "\f280";
}
.hi-menu:before {
  content: "\f281";
}
.hi-menu-collapse:before {
  content: "\f282";
}
.hi-menu-expand:before {
  content: "\f283";
}
.hi-mileage-fill:before {
  content: "\f284";
}
.hi-money-in:before {
  content: "\f285";
}
.hi-money-out:before {
  content: "\f286";
}
.hi-motorcycle:before {
  content: "\f287";
}
.hi-multi-users:before {
  content: "\f288";
}
.hi-new:before {
  content: "\f289";
}
.hi-notification:before {
  content: "\f290";
}
.hi-other:before {
  content: "\f291";
}
.hi-personal:before {
  content: "\f292";
}
.hi-progress:before {
  content: "\f293";
}
.hi-quotes:before {
  content: "\f294";
}
.hi-radio-toggle-on:before {
  content: "\f295";
}
.hi-redo:before {
  content: "\f296";
}
.hi-reminder:before {
  content: "\f297";
}
.hi-right:before {
  content: "\f298";
}
.hi-rotate:before {
  content: "\f299";
}
.hi-groom:before {
  content: "\f2228";
}
.hi-vehicle:before {
  content: "\f2119";
}
