.ImageBG{
  position: absolute;
  left:0;
  top:0;
  z-index: 0;
  width:100%;
  height:100%;
  &.smoov img{transition: 1s cubic-bezier(0.89, 0.03, 0.25, 1)}
  &.fit {
    display: flex;
    justify-content: center;
    align-items: center;
    &.portrait img{width: 100%}
    &.landscape img{height: 100%}
  }
  &.fill {
    overflow: hidden;
    //&.landscape img{width: 100%}
    //&.portrait img{height: 100%}
  }
}
