.Frames{
  min-width: 375px;
  min-height: 400px;
  position: relative;
  //background: #E5E5E5;
  .pageName{
    color: rgba(255,255,255,.5);
    font-weight: 300;
    font-size: .85em;
    position: absolute;
    left:0;
    top: -20px;
  }
  &.smoov{transition: 1s cubic-bezier(0.89, 0.03, 0.25, 1)}
}
