.InputDimensions{
  height: 100%;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  padding-bottom: 7px;
  span{
    opacity: .4;
    font-size: .9em;
    margin: 0 3px 0 10px;
  }
  input[type="text"]{
    background: none;
    font-size: .9em;
    width: 30px;
    padding: 0;
    color: rgba(255,255,255,.4);
    border: none;
    outline:none;
  }
}
