@import "./colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
html>canvas{display: none}
body {
  margin: 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  color: $dark;
  overflow: hidden;
}

#figma_pyro{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.FigmaProto{
  background: #262728;
  height: 100%;
}

p{margin: 0}
button{cursor: pointer}
.clickable{
  cursor: pointer;
  user-select:none;
}
.shallowLink{
  text-decoration: underline;
  cursor: pointer;
}

.a,a {
  color: #2196f3;
  text-decoration: underline;
  cursor: pointer;
}
.btn{
  cursor: pointer;
  text-transform: uppercase;
  font-size: .8em;
  padding: 8px 25px;
  border-radius: 20px;
  color: #fff;
  &.full{
    a{
      color: #fff;
      text-decoration: none;
    }
    background: #18a0fb;
    border: none;
    &:hover{background: #44b4ff}
  }
  &.ghost{
    background: none;
    border:1px solid #fff;
  }
  &:disabled{opacity: .5}
}

.Prototype {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #4042436e;
  height: 100%;
  box-sizing: border-box;
  max-height: calc(100vh - 35px);
  opacity:1;
  &.hideMe{opacity: 0}
}


.SignIn{
  background: #262728;
  height: 100%;
  color: #fff;
  position: relative;
  small{
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: .7;
  }
  h1 {/*100;300;400;700;900*/
    font-size: 5em;
    font-weight: 300;
    line-height: 1em;
    margin: 0 0 20px;
  }
  h2 {/*100;300;400;700;900*/
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
  }
  >main{
    display: flex;
    justify-content: center;
    margin-top: 10vw;
    > section{min-width: 400px}
    .btnCtn{
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
    }
  }
  >section{
    display: flex;
    justify-content: space-between;
    padding: 4px 10px;
  }
}
