@import "./colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
html>canvas{display: none}
body {
  margin: 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  color: $dark;
  overflow: hidden;
  background: #262728;
}

#figma_pyro{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}


p{margin: 0}

.a,a {
  color: #2196f3;
  text-decoration: underline;
  cursor: pointer;
}
button{cursor: pointer}

.Prototype {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #404243;
  height: 100%;
  box-sizing: border-box;
  transition: .4s ease;
  max-height: calc(100vh - 35px)
}
